.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
app/assets/images/._logo.png

._.gitignore

app/assets/images/._pinning.jpg

app/assets/images/._shield.png

app/assets/images/brothers/._alford-wade.jpg

app/assets/images/brothers/._baldwa-vineet.jpg

app/assets/images/brothers/._frick-joe.jpg

app/assets/images/brothers/._orbegozo-dan.jpg

app/assets/images/brothers/._shoup-john.jpg

app/assets/images/brothers/._valz-jon.jpg

app/assets/images/brothers/._vargo-seth.jpg

app/assets/images/fancybox/._blank.gif

\_*
