%ul.square
  %li
    %a{:href => 'mailto:consul@cmusigmachi.org'} Consul (President)
  %li
    %a{:href => 'mailto:proconsul@cmusigmachi.org'} Pro Consul (Vice President)
  %li
    %a{:href => 'mailto:recruitment@cmusigmachi.org'} Recruitment
  %li
    %a{:href => 'mailto:philanthropy@cmusigmachi.org'} Philanthropy
  %li
    %a{:href => 'mailto:scholarship@cmusigmachi.org'} Scholarship