%ul.square
  %li
    %a{:href => 'mailto:consul@cmusigmachi.org'} Consul (President)
  %li
    %a{:href => 'mailto:proconsul@cmusigmachi.org'} Pro Consul (Vice President)
  %li
    %a{:href => 'mailto:recruitment@cmusigmachi.org'} Recruitment
  %li
    %a{:href => 'mailto:philanthropy@cmusigmachi.org'} Philanthropy
  %li
    %a{:href => 'mailto:scholarship@cmusigmachi.org'} Scholarship
  %li
    <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=98d19b11c3e8d34ae02dc9851cbab5cf64c28d7d&style=0" /></object>

