%ul.square
  %li
    %a{:href => 'http://sigmachi.org'} Sigma Chi HeadQuarters
  %li
    %a{:href => 'http://www.studentaffairs.cmu.edu/student-life/greek/'} Carnegie Mellon Greek Life
  %li
    %a{:href => 'http://www.facebook.com/CMU.IFC'} CMU Interfraternity Council
