%h1 About Us

.brother.box.full
  %h3 Colonization
  %p The colonization on the Sigma Chi Alpha Colony began in the Fall of 2010 on Carnegie Mellon's campus. After over a month of recruiting, the <em>Alpha class</em> was pinned on <strong>October 13, 2011</strong>.

.brother.box.full
  %h3 First Rush
  %p
    %img.photo.right{:src => image_path('pinning.jpg')}
    Beginning on <strong>January 15, 2011</strong>, the colony held its first official Spring rush on campus, recruiting a class of 7 members.
  %p The <em>Beta class</em> of the Sigma Chi Alpha Colony was pinned on <strong>February 4, 2011</strong>.


