%h1 About Us

.brother.box.full
  %h3 Recruitment
  %p 
    Recruitment is one of the most important times of the semester for our chapter. We dedicate this time to finding potential new members for our Fraternity that exemplify the qualities we represent. Each semester, we tailor our events to ensure that they are both fun and meaningful and provide a venue for both the men rushing and our Brothers to get to know each other. Each semester we look forward to our repeated events like Sumo Wrestling and a night with Sigma Chi Alumni, as well as trying new events like a Date Night and a Pirates game for this semester. Feel free to contact our current Recruitment Chair, Taeson Hahm (thahm@andrew.cmu.edu), for more information about our Fraternity.

.brother.box.full
  %h3 1000+
  %p
    1000+ is a Carnegie Mellon University's dedication day of service. This past year, the men of Sigma Chi spent the afternoon volunteering at Camp Guyasuta, which is is owned and operated by the Laurel Highlands Council - Boy Scouts of America and has operated since 1918. Yearly, they host over 30,000 camper days by Scouts, schools and other community groups. We assisted in clearing out and cleaning up their camp areas in preparation for their summer season, and also with stream restoration to ensure the long term sustainability of the camp site. It was a great experience for every one that came out because it gave us all a chance to get off campus for an afternoon, spend some time together and give back to our community.  
.brother.box.full
  %h3 Faculty Reception
  %p 
    This past March we held our first faculty reception. We hosted the event at our house for faculty who we felt a significant impact on the growth and development of our Brothers and our Chapter. The event gave us an opportunity to showcase the progress we had made over the past year, give them more insight into how we operate and get to know each on a more person-to-person basis. At the end of the reception there we many inquiries about when the next one would take place, which we took to mean the event was a great success. 

.brother.box.full
  %h3 Alumni Reception
  %p 
    Also in March was our first Sigma Chi alumni reception. This event was also hosted at our house, and we invited Brothers of all ages who were in the area to attend. It was exciting to see the alumni just as excited as we are to receive our charter this coming Fall. The night was mostly spent listening to the stories and advice of alumni, which was invaluable for us as a very new chapter to hear. The event kickstarted a hopefully long and mutually beneficial relationship with alumni of Sigma Chi and our own Chapter.

.brother.box.full
  %h3 Colonization
  %p The colonization on the Sigma Chi Alpha Colony began in the Fall of 2010 on Carnegie Mellon's campus. After over a month of recruiting, the <em>Alpha class</em> was pinned on <strong>October 13, 2011</strong>.

.brother.box.full
  %h3 First Rush
  %p
    %img.photo.right{:src => image_path('pinning.jpg')}
    Beginning on <strong>January 15, 2011</strong>, the colony held its first official Spring rush on campus, recruiting a class of 7 members.
  %p The <em>Beta class</em> of the Sigma Chi Alpha Colony was pinned on <strong>February 4, 2011</strong>.

