%h1 About Us

.brother.box.full
  %h3 Colonization
  %p The colonization on the Sigma Chi Alpha Colony began in the Fall of 2010 on Carnegie Mellon's campus. After over a month of recruiting, the <em>Alpha class</em> was pinned on <strong>October 13, 2011</strong>.

.brother.box.full
  %h3 First Rush
  %p
    %img.photo.right{:src => image_path('pinning.jpg')}
    Beginning on <strong>January 15, 2011</strong>, the colony held its first official Spring rush on campus, recruiting a class of 7 members.
  %p The <em>Beta class</em> of the Sigma Chi Alpha Colony was pinned on <strong>February 4, 2011</strong>.

.brother.box.full
  %h3 Recruitment
  %p Recruitment is one of the most important times of the semester for our chapter. We dedicate this time to finding potential new members for our Fraternity that exemplify the qualities we represent. Each semester, we tailor our events to ensure that they are both fun and meaningful and provide a venue for both the men rushing and our Brothers to get to know each other. Each semester we look forward to our repeated events like Sumo Wrestling and a night with Sigma Chi Alumni, as well as trying new events like a Date Night and a Pirates game for this semester. Feel free to contact our current Recruitment Chair, Taeson Hahm (thahm@andrew.cmu.edu), for more information about our Fraternity.


