%h1 Brothers

%h2 Executive Board

.box.brother.full
  %img.photo.left{:src => image_path('brothers/alford-wade.jpg')}
  %h3 Wade Alford - President
  %p The brothers of Sigma Chi Lambda Pi strive to be the preeminent leadership organization on our campus. We push towards this goal by stressing the importance of developing brotherhood amongst our members, as well as the importance of the strong character expected from each of our members. We work daily to create a positive impact on our members, our campus and our community. Our brotherhood is focused on fighting the negative stigma around Greek Life by behaving as leaders of good character at all times. We are always looking for emerging leaders on campus to bring into our brotherhood to support their and our own development.

.box.brother
  %img.photo.left{:src => image_path('brothers/frick-joe.jpg')}
  %h3 Joe Frick - Vice Presidente
  %ul
    %li Major: Econ
    %li Year: Senior
    %li Hometown: Pittsburgh, PA
    %li Favorite Thing: Music

.box.brother
  %img.photo.left{:src => image_path('brothers/vargo-seth.jpg')}
  %h3 Seth Vargo - Treasurer
  %ul
    %li Major: IS
    %li Year: Senior
    %li Hometown: Windber, PA
    %li Favorite Thing: (Anything Apple)

.box.brother
  %img.photo.left{:src => image_path('brothers/shoup-john.jpg')}
  %h3 John Shoup - Pledge Educator
  %ul
    %li Major: Economics
    %li Year: Senior
    %li Hometown: Westport, CT
    %li Favorite Thing: The Patriots

.box.brother
  %img.photo.left{:src => image_path('brothers/orbegozo-dan.jpg')}
  %h3 Dan Orbegozo - Risk Manager
  %ul
    %li Major: CivE
    %li Year: Senior
    %li Hometown: North Bergen, NJ
    %li Favorite Thing: Lifting

%h2 Active Brothers
.box.brother
  %h3 Alpha Class
  %ul
    %li Adams, Jarrett (2011)
    %li Alford, Wade
    %li Baldwa, Vineet
    %li Bender, Jonathan
    %li Bernero, Greg
    %li Carroll, Nolan
    %li Cartagena, Rafael
    %li Choo, Yang
    %li Cosio, Benjamin
    %li Frick, Joe
    %li Gilbert, Kevin
    %li Hogan, Patrick
    %li Joraskie, Billy (2012)
    %li Lo, Hector
    %li Medina, Juan
    %li Nedab, Oliver
    %li Orbegozo, Dan
    %li Shepard, Scott
    %li Shoup, John
    %li Valz, Jonathan
    %li Wadhwani, Rohan
    %li Wong, JR
    %li Zakko, Philip

.box.brother
  %h3 Beta Class
  %ul
    %li Bai, Edward
    %li Holliday, Chris
    %li Leach, Bryan
    %li Murby, Dan
    %li Shi, Jay
    %li Vargo, Seth
    %li Willig, Andrew

.box.brother
  %h3 Gamma Class
  %ul
    %li Chen, Stephen
    %li Croughan, Bill
    %li De Lucia, Francis
    %li Fisch, Evan
    %li Fulton, Kevin
    %li Hahm, Taeson
    %li Hudson, Andrew
    %li Jackson, Lawrence
    %li Kwon, Joon
    %li McCullough, Joel
    %li Popa, Paul
    %li Sethi, Sid
    %li Singh, Anish
    %li Swen, Dylan
    %li Tiwari, Arpit
    %li Von Stange, Rob
.box.brother
  %h3 Delta Class
  %ul
    %li Beisswanger, Bryce
    %li Dave, Rushi
    %li Narayan, Utkarsh
    %li Sclafani, Nick
    %li Vijayraghavan, Varun

/%h2 Pledges

:javascript
  $(function() {
    $('.fancybox').fancybox();
  });
