%h1 Sigma Chi Alpha Event Calendar

= render partial: 'layouts/about/nav'

#right-content
  %iframe{:src => 'https://www.google.com/calendar/embed?src=v97viqdfllh4ld83082la6qcq0%40group.calendar.google.com&ctz=America/New_York', :style => 'border:0', :width => 600, :height => 550, :frameborder => 0, :scrolling => 'no'}

.clear