%h1 Welcome to Sigma Chi

= render partial: 'layouts/about/nav'

#right-content
  %p Sigma Chi Alpha is a fraternity whose goal is to become the premier leadership and leadership development organization on Carnegie Mellon's campus. We were founded on the belief that all brothers should exemplify the following characteristics of our Jordan Standard:

  %pre.box.brother
    :preserve
      A Man of Good Character
      A Student of Fair Ability
      With Ambitious Purposes
      A Congenial Disposition
      Possessed of Good Morals
      Having a High Sense of Honor and
      A Deep Sense of Personal Responsibility

  %p Feel free to browse our website to gain a fuller image of Sigma Chi.

  = link_to 'Phase II', '/resource/PhaseII.pdf' 
  = link_to 'Formal Petition', '/resource/FormalPetition.pdf' 

.clear
