%h1 Philanthropy

= render partial: 'layouts/about/nav'

#right-content
  %p As a Greek organization, Sigma Chi is committed to giving back to the community. Our Brothers are actively involved in Carnegie Mellon's campus, the Pittsburgh community, and their home communities.

  %h2 Children’s Institute Visits
  %p Our Brothers make monthly service trips to the Children’s Institute, a local children’s hospital, where we host activities and interact with the inpatients present. Past activities include: a Bingo session with prizes, a Karaoke session.

  %h2 Torch Relay
  %p A new event which we are participating in this year is the Torch Relay for our national philanthropy, the Children’s Miracle Network. We are targeting to raise over $500 for this event.

  %h2 Greek Sing
  %p Annually, Sigma Chi takes part in Greek Sing, a musical show where the fraternities and sororities showcase their musical and dancing talents, with the ultimate goal of raising funds for a local charity.

  %h2 1000+
  %p Our brothers participate annually in this campus wide day of service. Activities include cleaning up areas of Pittsburgh, aid in construction of a playground. 

.clear