%h1 Why Rush Sigma Chi?

%p Pledging Sigma Chi is a great opportunity. As a quickly up and coming fraternity on Carnegie Mellon's campus, Sigs have the opportunity


:javascript
  $(function() {
    $('.fancybox').fancybox();
  });
