//
//
// Minion
//
//
@font-face {
  font-family: 'MinionBold';
  src: font-url('minionpro-bold-webfont.eot');
  src: font-url('minionpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('minionpro-bold-webfont.woff') format('woff'),
  font-url('minionpro-bold-webfont.ttf') format('truetype'),
  font-url('minionpro-bold-webfont.svg#MinionProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionBoldItalic';
  src: font-url('minionpro-boldit-webfont.eot');
  src: font-url('minionpro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('minionpro-boldit-webfont.woff') format('woff'),
  font-url('minionpro-boldit-webfont.ttf') format('truetype'),
  font-url('minionpro-boldit-webfont.svg#MinionProBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionItalic';
  src: font-url('minionpro-it-webfont.eot');
  src: font-url('minionpro-it-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('minionpro-it-webfont.woff') format('woff'),
  font-url('minionpro-it-webfont.ttf') format('truetype'),
  font-url('minionpro-it-webfont.svg#MinionProItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minion';
  src: font-url('minionpro-regular-webfont.eot');
  src: font-url('minionpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('minionpro-regular-webfont.woff') format('woff'),
  font-url('minionpro-regular-webfont.ttf') format('truetype'),
  font-url('minionpro-regular-webfont.svg#MinionProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}



//
//
// Myriad
//
//
@font-face {
  font-family: 'MyriadItalic';
  src: font-url('myriadpro-italic-webfont.eot');
  src: font-url('myriadpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('myriadpro-italic-webfont.woff') format('woff'),
  font-url('myriadpro-italic-webfont.ttf') format('truetype'),
  font-url('myriadpro-italic-webfont.svg#MyriadProItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadBold';
  src: font-url('myriadpro-bold-webfont.eot');
  src: font-url('myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('myriadpro-bold-webfont.woff') format('woff'),
  font-url('myriadpro-bold-webfont.ttf') format('truetype'),
  font-url('myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadBoldItalic';
  src: font-url('myriadpro-bold-italic-webfont.eot');
  src: font-url('myriadpro-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('myriadpro-bold-italic-webfont.woff') format('woff'),
  font-url('myriadpro-bold-italic-webfont.ttf') format('truetype'),
  font-url('myriadpro-bold-italic-webfont.svg#MyriadProBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src: font-url('myriadpro-reg-webfont.eot');
  src: font-url('myriadpro-reg-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('myriadpro-reg-webfont.woff') format('woff'),
  font-url('myriadpro-reg-webfont.ttf') format('truetype'),
  font-url('myriadpro-reg-webfont.svg#MyriadProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

//
//
// Font Mixins
//
//
@mixin font-minion($style: 'regular') {
  @if $style == 'regular' { font-family: 'Minion', 'Times New Roman'; }
  @if $style == 'bold' { font-family: 'MinionBold', 'Times New Roman'; }
  @if $style == 'italic' { font-family: 'MinionItalic', 'Times New Roman'; }
  @if $style == 'bolditalic' { font-family: 'MinionBoldItalic', 'Times New Roman'; }
  font-weight: normal;
}

@mixin font-myriad($style: 'regular') {
  @if $style == 'regular' { font-family: 'Myriad', 'Arial'; }
  @if $style == 'bold' { font-family: 'MyriadBold', 'Arial'; }
  @if $style == 'italic' { font-family: 'MyriadItalic', 'Arial'; }
  @if $style == 'bolditalic' { font-family: 'MyriadBoldItalic', 'Arial'; }
  font-weight: normal;
}
