%ul#main-nav
  %li
    %a{:href => root_path} Home
  %li
    %a{:href => page_path(:history)} History
  %li
    %a{:href => page_path(:about)} About Us
  %li
    %a{:href => page_path(:brothers)} Brothers